@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2a6496;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
.header {
  background: #e7e7e7;
  border: 1px solid #DDDDDD;
}
.footer {
  background: #e7e7e7;
  font-size: 1.7em;
  .Name {
    padding: 85px;
    font: none;
  }
  #designer {
    font: none;
    padding-right: 90px;
  }
}
