@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2a6496;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
.header {
  padding-right: 50px;
  padding-left: 50px;
  background: #e7e7e7;
  border: 1px solid #DDDDDD;
}
.footer {
  background: #e7e7e7;
  .Name {
    padding: 85px;
    font: none;
    font-size: 1.7em;
  }
  #action_page {
    padding-right: 80px;
    margin: 6px;
  }
}
#new_user {
  .title_new_user {
    border: 1px solid #e7e7e7;
    background: #e7e7e7;
  }
  width: 450px;
  height: auto;
  background-color: #e7e7e7;
  border: 1px ridge #e7e7e7;
  margin: 2%;
  margin-left: 350px;
  padding: 2%;
}
.actions {
  padding-top: 15px;
}
#list_user {
  border: 1px solid #e7e7e7;
  .title_table {
    background-color: #7FDBFF;
  }
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
