<footer class="footer">
  <div class="row">
  <small><%= t "layouts.footer.name" %></small>
  <nav>
    <ul id="action_page">
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><%= link_to "Help", static_pages_help_path %></li>
    </ul>
  </nav>
  </div>
</footer>
