<header class="header">
  <div class="container">
    <%= link_to "Employee Directory", "#", id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Employee",   "#" %></li>
        <li><%= link_to "Department",   "#" %></li>
        <li><%= link_to "Log in", "#" %></li>
      </ul>
  </div>
</header>
